@import url("student.css");
@import url("button.css");
@import url("main_menu.css");
/**********************************************/
#grade{
    width: 82px;
    height: 34px;
    margin-left: 2px;
}
#grade-wrap{
    height: auto;
    margin-top: 0px;
}
#grade-wrap-content{
    width: 1600px;
    height: auto;
    margin-left: 10px;
    margin-top: 25px;
}
#grade-title ul li{
    width: 149px;
    height: 27px;
    line-height: 35px;
    text-align: center;
    float: left;
    margin-top: 35px;
}
#year{
    width: 109px;
    height: 34px;
    margin-left: 2px;
    text-align: center;
}
.grade_content1_1 ul li{
    float: left;
    margin: 0 auto;
    width: 178px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
}
#change3-content{
    overflow: auto;
    width: 100%;
    height: 200px;
}
.grade_content1_2 ul li{
    float: left;
    margin: 0 auto;
    width: 178px;
    text-align: center;
    margin-top: 10px;
    line-height: 39px;
    border-bottom: 1px solid silver;
}
#grade-wrap1{
    margin-top: 50px;
    width: 1450px;
    margin: 0 auto;
    overflow: auto;
}
.grade_content1_1 li:first-child ul li{
    background-color:#D1D3E8;
}